<body>
    <i class="fal fa-user-plus fa-lg fa-3x"> Crear posible cliente</i>

    <div class="upload">
        <img src="https://assets.stickpng.com/images/585e4beacb11b227491c3399.png" width="100" height="100" alt="">
        <div class="round">
            <input type="file">
            <i class="fa fa-camera" style="color: #fff;"></i>
        </div>
    </div>
    <!-- 
    <h3 style="margin-top: 4%;">Imagen de Posible cliente</h3>
    <div class="row">
        <div class="col-md-6">
            <input class="form-control col-md-6" type="file" id="formFile">
        </div>
    </div> -->
    <br>

    <h3 style="margin-top: 2%;">Información de Posible cliente</h3>
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputPopietario" class="form-label">Propietario de Posible cliente</label>
            <input type="text" class="form-control" id="inputPropietario">
        </div>
        <div class="col-md-6">
            <label for="inputEmpresa" class="form-label">Empresa</label>
            <input type="text" class="form-control" id="inputEmpresa">
        </div>
        <div class="col-md-6">
            <label for="inputNombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputNombre">
        </div>
        <div class="col-md-6">
            <label for="inputApedillos" class="form-label">Apellidos</label>
            <input type="text" class="form-control" id="inputApellidos">
        </div>
        <div class="col-md-6">
            <label for="inputTitulo" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="inputTitulo">
        </div>
        <div class="col-md-6">
            <label for="inputEmail" class="form-label">Correo electronico</label>
            <input type="email" class="form-control" id="inputEmail">
        </div>
        <div class="col-md-6">
            <label for="inputPhone" class="form-label">Telefóno</label>
            <input type="text" class="form-control" id="inputPhone">
        </div>
        <div class="col-md-6">
            <label for="inputFax" class="form-label">Fax</label>
            <input type="text" class="form-control" id="inputFax">
        </div>
        <div class="col-md-6">
            <label for="inputCell" class="form-label">Móvil</label>
            <input type="text" class="form-control" id="inputCell">
        </div>
        <div class="col-md-6">
            <label for="inputWeb" class="form-label">Sitio Web</label>
            <input type="text" class="form-control" id="inputWeb">
        </div>
        <div class="col-md-6">
            <label for="inputFuente" class="form-label">Fuente de posible cliente</label>
            <input type="text" class="form-control" id="inputFuente">
        </div>
        <div class="col-md-6">
            <label for="inputEstado" class="form-label">Estado de posible cliente</label>
            <input type="text" class="form-control" id="inputEstado">
        </div>
        <div class="col-md-6">
            <label for="inputSector" class="form-label">Sector</label>
            <input type="text" class="form-control" id="inputSector">
        </div>
        <div class="col-md-6">
            <label for="inputEmpleados" class="form-label">Cantidad de empleados</label>
            <input type="text" class="form-control" id="inputEmpleados">
        </div>
        <div class="col-md-6">
            <label for="inputIngresos" class="form-label">Ingresos anuales</label>
            <input type="text" class="form-control" id="inputIngresos">
        </div>
        <div class="col-md-6">
            <label for="inputCalificacion" class="form-label">Calificación</label>
            <input type="text" class="form-control" id="inputCalificacion">
        </div>
        <div class="col-md-6">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
            No participación del correo electrónico
          </label>
            </div>
        </div>
        <div class="col-md-6 float-right">
            <label for="inputIdSkype" class="form-label">ID de Skype</label>
            <input type="text" class="form-control" id="inputIdSkype">
        </div>
        <div class="col-md-6">
            <label for="inputEmail2" class="form-label">Correo electrónico secundario</label>
            <input type="text" class="form-control" id="inputEmail2">
        </div>
        <div class="col-md-6">
            <label for="inputTwitter" class="form-label">Twitter</label>
            <input type="text" class="form-control" id="inputTwitter">
        </div>
    </form>

    <h3 style="margin-top: 4%;">Información de la dirección</h3>
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputCalle" class="form-label">Calle</label>
            <input type="text" class="form-control" id="inputCalle">
        </div>
        <div class="col-md-6">
            <label for="inputCiudad" class="form-label">Ciudad</label>
            <input type="text" class="form-control" id="inputCiudad">
        </div>
        <div class="col-md-6">
            <label for="inputEstadoDireccion" class="form-label">Estado</label>
            <input type="text" class="form-control" id="inputEstadoDireccion">
        </div>
        <div class="col-md-6">
            <label for="inputCodigoPostal" class="form-label">Código postal</label>
            <input type="text" class="form-control" id="inputCodigoPostal">
        </div>
        <div class="col-md-6">
            <label for="inputPais" class="form-label">País</label>
            <input type="text" class="form-control" id="inputPais">
        </div>
    </form>

    <h3 style="margin-top: 4%;">Información de la descripción</h3>
    <form class="row g-3" style="margin-top: 1%;">
        <div class="col-md-12">
            <label for="inputDescripcion" class="form-label">Descripción</label>
            <textarea class="form-control" id="inputDescripcion" rows="3"></textarea>
        </div>
    </form>
    <br>

    <div class="d-grid gap-2 d-md-block text-center">
        <button type="submit" class="btn btn-success col-md-3 mb-2">Guardar</button>
        <button type="submit" class="btn btn-danger col-md-3 mx-2 mb-2" style="color: #fff;">Cancelar</button>
    </div>
</body>