<i class="fal fa-user-plus fa-lg fa-3x"> Crear posible cliente</i>
<h3 style="margin-top: 2%;">Información de Posible cliente</h3>
<form [formGroup]="leadsForm"  class="row g-3" >
    <div class="col-md-6">
        <label for="inputPopietario" class="form-label">Propietario de Posible cliente</label>
        <input type="text" class="form-control" id="inputPropietario" >
    </div>
    <div class="col-md-6">
        <label for="inputEmpresa" class="form-label">Empresa</label>
        <input formControlName="company" type="text" class="form-control" id="inputEmpresa" >
    </div>
    <div class="col-md-6">
        <label for="inputNombre" class="form-label">Nombre</label>
        <input formControlName="last_Name" type="text" class="form-control" id="inputNombre" >
    </div>
    <div class="col-md-6">
        <label for="inputApedillos" class="form-label">Apellidos</label>
        <input formControlName="first_Name" type="text" class="form-control" id="inputApellidos" >
    </div>

    <div class="col-md-6">
        <label for="inputEmail" class="form-label">Correo electronico</label>
        <input formControlName="email" type="email" class="form-control" id="inputEmail" >
    </div>
    <div class="col-md-6">
        <label for="inputPhone" class="form-label">Telefóno</label>
        <input formControlName="phone" type="text" class="form-control" id="inputPhone" >
    </div>
    <div class="col-md-6">
        <label for="inputFax" class="form-label">Fax</label>
        <input formControlName="fax" type="text" class="form-control" id="inputFax" >
    </div>
    <div class="col-md-6">
        <label for="inputCell" class="form-label">Móvil</label>
        <input formControlName="phone" type="text" class="form-control" id="inputCell" >
    </div>
    <div class="col-md-6">
        <label for="inputWeb" class="form-label">Sitio Web</label>
        <input formControlName="website" type="text" class="form-control" id="inputWeb" >
    </div>
    <div class="col-md-6">
        <label for="inputFuente" class="form-label">Fuente de posible cliente</label>
        <input formControlName="lead_Source" type="text" class="form-control" id="inputFuente" >
    </div>
    <div class="col-md-6">
        <label for="inputEstado" class="form-label">Estado de posible cliente</label>
        <input formControlName="lead_Status" type="text" class="form-control" id="inputEstado" >
    </div>
    <div class="col-md-6">
        <label for="inputEmpleados" class="form-label">Cantidad de empleados</label>
        <input formControlName="no_of_Employees" type="text" class="form-control" id="inputEmpleados" >
    </div>
    <div class="col-md-6">
        <label for="inputIngresos" class="form-label">Ingresos anuales</label>
        <input formControlName="annual_Revenue" type="text" class="form-control" id="inputIngresos" >
    </div>
    <div class="col-md-6">
        <label for="inputCalificacion" class="form-label">Calificación</label>
        <input formControlName="rating" type="text" class="form-control" id="inputCalificacion" >
    </div>
    <div class="col-md-6">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
            No participación del correo electrónico
          </label>
        </div>
    </div>
    <div class="col-md-6 float-right">
        <label for="inputIdSkype" class="form-label">ID de Skype</label>
        <input formControlName="skype_ID" type="text" class="form-control" id="inputIdSkype" >
    </div>
    <div class="col-md-6">
        <label for="inputEmail2" class="form-label">Correo electrónico secundario</label>
        <input formControlName="secondary_Email" type="text" class="form-control" id="inputEmail2" >
    </div>
    <div class="col-md-6">
        <label for="inputTwitter" class="form-label">Twitter</label>
        <input formControlName="twitter" type="text" class="form-control" id="inputTwitter" >
    </div>


<h3 style="margin-top: 4%;">Información de la dirección</h3>
    <div class="col-md-6">
        <label for="inputCalle" class="form-label">Calle</label>
        <input  formControlName="street" type="text" class="form-control" id="inputCalle" >
    </div>
    <div class="col-md-6">
        <label for="inputCiudad" class="form-label">Ciudad</label>
        <input formControlName="city" type="text" class="form-control" id="inputCiudad" >
    </div>
    <div class="col-md-6">
        <label for="inputEstadoDireccion" class="form-label">Estado</label>
        <input type="text" class="form-control" id="inputEstadoDireccion" formControlName="state">
    </div>
    <div class="col-md-6">
        <label for="inputCodigoPostal" class="form-label">Código postal</label>
        <input type="text" class="form-control" id="inputCodigoPostal" formControlName="zip_Code">
    </div>
    <div class="col-md-6">
        <label for="inputPais" class="form-label">País</label>
        <input type="text" class="form-control" id="inputPais" formControlName="zip_Code">
    </div>

<h3 style="margin-top: 4%;">Información de la descripción</h3>
    <div class="col-md-6">
        <label for="inputDescripcion" class="form-label">Descripción</label>
        <input type="text-area" class="form-control" id="inputDescripcion" formControlName="description">
    </div>
<br>
</form>
<div class="d-grid gap-2 d-md-block">
    <button type="submit" class="btn btn-success col-md-3 mb-2" (click)="saveLeads()">Guardar</button>
    <button type="submit" class="btn btn-danger col-md-3 mx-2 mb-2" style="color: #fff;">Cancelar</button>
</div>
