<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">L</button>
        <div class="logo-text" *ngIf="collapsed">Lideres</div>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
            <em class="fal fa-times close-icon"></em>
        </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <em class="sidenav-link-icon" [class]="data.icon"></em>
                <span class="sidenav-link-text" *ngIf="collapsed">{{data.label}}</span>
            </a>
        </li>
    </ul>
</div>